.q-title {
  font-size: 1.65rem;
}

.question-button {
  background-color: #ffee77 !important;
  color: black !important;
  border-radius: 13px !important;
  box-shadow: none !important;
  text-transform: initial !important;
}

label {
  margin-left: 0.2em;
}

.btn-submit {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  background: linear-gradient(45deg, #155792, #0e385d 35%, #0a253d);
  color: white;
}

.btn-submit:disabled,
.btn-submit:hover.btn-submit:disabled {
  background: linear-gradient(45deg, #155792, #0e385d 35%, #0a253d);
  color: white;
  opacity: 0.5;
}
.submit-btn-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.card-top {
  position: absolute;
  top: 0px;
  transform: translate(-18px, -30px);
  font-weight: bold;
  background: linear-gradient(45deg, #f14f4f, #ff3131);
  color: white;
  padding: 3px 10px;
  left: 0px;
  border-radius: 4px 4px 4px 0px;
}

.card-top-right,
.btn.card-top-right {
  position: absolute;
  top: 0px;
  transform: translate(20px, -20px);
  font-weight: bold;
  font-size: 0.82rem;
  color: white;
  padding: 3px 10px !important;
  right: 0px;
  border-radius: 50% !important;
  min-width: 30px;
  background: linear-gradient(45deg, #154d7d, #19568c 35%, #0f385d) !important;
}

.highlight-q {
  /* color: blue; */
  color: #feffbf !important;
}
/* 
input[type='radio'] {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
input[type='radio' i] {
  cursor: pointer;
  margin: 3px 3px 3px 3px;
  display: inline-block;
  margin-right: 10px;
  position: relative;
  height: 20px;
  width: 20px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
}

input[type='radio']:after {
  --size: 15px;
  background-color: #f6f6f6;
  border-radius: 25px;
  box-shadow: inset 0 0 0 1px hsla(0, 0%, 0%, 0.4),
    0 1px 1px hsla(0, 0%, 100%, 0.8);
  content: '';
  display: block;
  height: var(--size, 7px);
  left: 3px;
  position: relative;
  top: 9px;
  width: var(--size, 7px);
  border: none;
}
input[type='radio']:checked:after {
  background-color: #0e385d;
  box-shadow: inset 0 0 0 1px hsla(0, 0%, 0%, 0.4),
    inset 0 2px 2px hsla(0, 0%, 100%, 0.4), 0 1px 1px hsla(0, 0%, 100%, 0.8),
    0 0 2px 2px hsla(224, 70%, 70%, 0.4);
  outline: none;
} */

/****OTHER*******/

:root {
  --toolbar-hover-primary: #fb4646;
  --toolbar-hover-primary-shade: #dd3e3e;
  --toolbar-hover-primary-tint: #fb5c5c;
  --toolbar-hover-primary-contrast: #ffffff;
  --toolbar-hover-primary-contrast-rgb: rgb(255, 255, 255);
  --toolbar-primary: #1a1a1a;
  --toolbar-primary-shade: #000000;
  --toolbar-primary-tint: #1b1b1b;
  --toolbar-primary-contrast: #ffffff;
  --toolbar-primary-contrast-rgb: rgb(255, 255, 255);
}

/*Removing the default radio button*/
.radio-toolbar input[type='radio'] {
  opacity: 0;
  position: fixed;
  width: 0;
}
.radio-toolbar label {
  display: inline-block;
  background: linear-gradient(
    45deg,
    var(--toolbar-primary-tint),
    var(--toolbar-primary) 35%,
    var(--toolbar-primary-shade)
  );
  padding: 10px 20px;
  font-family: sans-serif, Arial;
  font-size: 16px;
  /* border: 2px solid #000000; */
  border: none;
  border-radius: 5px;
  margin: 6px 0px;
  color: var(--toolbar-primary-contrast);
  cursor: pointer;
}
.radio-toolbar input[type='radio']:checked + label {
  background: linear-gradient(
    45deg,
    var(--toolbar-hover-primary-tint),
    var(--toolbar-hover-primary) 35%,
    var(--toolbar-hover-primary-shade)
  );
  /* border-color: #000000; */
  border: none;
}
.radio-toolbar input[type='radio']:focus + label {
  /* border: 2px dashed rgb(0, 0, 0); */
  border: none;
}

.radio-toolbar label:hover {
  background: linear-gradient(
    45deg,
    var(--toolbar-hover-primary-tint),
    var(--toolbar-hover-primary) 35%,
    var(--toolbar-hover-primary-shade)
  );
  color: var(--toolbar-hover-primary-contrast);
}
